.div{
    display: flex;
    width: 700px;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgb(67, 84, 168);
    margin-top: 2rem;
    border-radius: 9px;
    padding: 25px;
    margin-bottom: 2rem;
}
.btn{
    display: flex;
    gap: 3rem;
}